<style>
    @import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
    body{
      overflow-x: hidden;
    }

    #input1,#input2{
        text-align: center;
    }
    #BelowlocationSection{
        background-image: linear-gradient(180deg, #868bf6,#c3d6f3);
    }
    #driver-info{
       background-color: #817FF8;
    }
</style>

<%- include('normal_user_profile') %>
<%- include('contact_us_form')%>
<%- include('sign') %>

<div class="container">
    <div class=" row  h-100">
        <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8 d-flex">
            <img class="mx-5" src="images/BTC_logo.png" alt="image" height="100px" width="100px">
            <h5 style="font-family: 'Faster One', cursive; " class="fs-1 mx-5"> BOOK TOUR CAB</h5>
        </div>
        <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 my-3 text-center">
            <!-- <button class="btn btn-primary">Logout</button> -->
            <button class="btn  btn-primary mx-4" type="button"  data-bs-toggle="modal" data-bs-target="#signUpForm">SignUp</button>
            <button class="btn " type="button" data-bs-toggle="modal" data-bs-target="#signInForm" style="background-color: lightskyblue;">SignIn</button>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active mx-4 fw-bold text-light" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active mx-4 fw-bold text-light" aria-current="page" href="services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active mx-4 fw-bold text-light" aria-current="page" href="safety">Safety</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active mx-4 fw-bold text-light" aria-current="page" href="about">AboutUs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active mx-4 fw-bold text-light" aria-current="page" href="contact_us_form" data-bs-toggle="modal" data-bs-target="#contactModal">Contact Us</a>
          </li>
        </ul>
        <form class="d-flex " id="normal-user-profile-reference" data-bs-toggle="offcanvas" data-bs-target="#normalUserProfile" aria-controls="normalUserProfile">
            <img src="images/profilePic.jpeg" height="60px" width="60px"  alt="" style="border-radius: 50%;">
            <span class="text-light fw-bold h3 mx-3">Andrew anderson <br>
                 <i class="fa-solid fa-location-dot"></i>
                 <span class="h4">Indore MP</span>
            </span>
            <i class="fa-solid fa-circle-user text-light fs-1"></i>
        </form>
      </div>
    </div>
  </nav>
