<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owner Dashboard</title>
    <!-- Bootstrap 5 link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- icon link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>

    <%- include('navbar') %>


    <!-- Owner Account Details -->
    <div class="container">
        <div class="row"  style="background-color: whitesmoke;">

            <div class="col col-lg-4 col-md-4 col-sm-12 mt-4" style="background-color:#6268FF">
            <div class="d-flex align-items-center">
                <i class="fas fa-user-circle text-light display-2 m-4"></i>
                <p class="my-4 text-light">Hemant Prajapati <br>9879875678</p>
            </div>
            <div class="mx-5 fw-bold text-light">
                <p>Account Details</p>
                <p>Vehicles</p>
                <p>Drivers</p>
                <p>Change Password</p>
                <p>Wallet</p>
                <p>History</p>
            </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12" style="background-color: whitesmoke;">
                <div class="row  w-100  mt-4" style="background-color: white; width: fit-content; margin-left: auto;">
                    <div class="col col-lg-4 col-md-4 col-sm-12">
                        <i class="fa-solid fa-circle-user m-4  display-2 text-warning" style="color: #1f2551; height: fit-content;"></i>
                    </div>
                    <div class=" col col-lg-8 col-md-8 col-sm-12 ">
                        <label for="name" class="fw-bold fs-5 my-1">Name : </label><span> Andrew Anderson</span><br>
                        <label for="gender" class="fw-bold fs-5 my-1">Gender : </label><span> Male</span><br>
                        <label for="Date" class="fw-bold fs-5 my-1">DOB : </label><span> 29/12/2004</span><br>
                        <label for="email" class="fw-bold fs-5 my-1">E-mail : </label><span> andrewanderson@gmail.com</span><br>
                        <label for="Address" class="fw-bold fs-5 my-1">Address : </label><span> Khandwa Naka, Indore</span><br>
                        <label for="city" class="fw-bold fs-5 my-1">City : </label><span>  Indore</span><br>
                        <label for="state" class="fw-bold fs-5 my-1">State : </label><span>  Madhya Pradesh</span><br>
                        <label for="pincode" class="fw-bold fs-5 my-1">Pin code : </label><span>  452020</span><br>
                        <label for="pincode" class="fw-bold fs-5 my-1">Aadhar Number : </label><span> 9810 3410 3453</span><br>
                        <button class="btn btn-primary btn-md my-5 w-50 ">Update Details</button>
                    </div>
                </div>
            </div>
            <!-- Owner Account Details -->

            <!-- Owner Vehicles -->
            <div class="col col-lg-8 col-md-8 col-sm-12 d-none" style="background-color: whitesmoke;"><br>
                <h4 class="text-center fw-bold" style="background-color: white;">Vehicle List</h4>
                <div class="table-responsive">
                    
                    <table class="table table-striped" style="background-color: white;">
                        <thead>
                            <th>Registration Number</th>
                            <th>Vehicle Class</th>
                            <th>Fuel Type</th>
                        </thead>
                        <tbody>
                            <!-- Table Data Fill Here -->
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <button class="btn btn-primary btn-md m-4">Add Vehical</button>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <button class="btn btn-primary btn-md m-4">Update Vehical</button>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <button class="btn btn-primary btn-md m-4">Remove Vehical</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Owner Vehicles -->

            <!-- Owner Drivers List -->
            <div class="col col-lg-8 col-md-8 col-sm-12 d-none" style="background-color: whitesmoke;"><br>
                <h4 class="text-center fw-bold" style="background-color: white;">Driver List</h4>
                <div class="table-responsive">
                    
                    <table class="table table-striped" style="background-color: white;">
                        <thead>
                            <th>Driver Name</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Driver Contact</th>
                        </thead>
                        <tbody>
                            <!-- Table Data Fill Here -->
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <button class="btn btn-primary btn-md m-4">Add Driver</button>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <button class="btn btn-primary btn-md m-4">Update Driver</button>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <button class="btn btn-primary btn-md m-4">Remove Driver</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Owner Drivers List -->
           
            <!-- Owner Change Password -->
            <div class="col-lg-8 col-md-8 col-sm-12 col-12 d-none" style="background-color: whitesmoke;">
                <br>
                <h4 class="text-center fw-bold" style="background-color: white;">Change Password</h4>
                <div class="text-center" style="background-color: white;">
                <div class="my-5">
                        <label class="fw-bold fs-5 " for="oldpassword">Old Password</label><br>
                        <input type="password" class="w-50 text-center border-dark " placeholder="Enter Old Password" id="oldpassword">
                </div>
                 <div class="my-5">
                        <label class="fw-bold fs-5 " for="newpassword">New Password</label><br>
                        <input type="password" class="w-50 text-center border-dark " placeholder="Enter Old Password" id="newpassword">
                </div>
                <div class="my-5">
                        <label class="fw-bold fs-5  " for="confirmpassword">Old Password</label><br>
                        <input type="password" class="w-50 text-center border-dark " placeholder="Enter Old Password" id="confirmpassword">
                </div>
                <div class="my-5">
                       <button class="btn btn-primary w-25 form-control">Submit</button><br><br>
                </div>
                </div>   
            </div>
            <!-- Owner Change Password -->

            <!-- Owner Wallet -->
            <div class="col col-lg-8 col-md-8 col-sm-12 d-none" style="background-color: whitesmoke;"><br>
                <h4 class="text-center fw-bold" style="background-color: white;">Wallet</h4>
                <div class="table-responsive">

                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 m-4">
                            <h5>Wallet Amount: $ 300</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <button class="btn btn-primary btn-md m-4">Withdraw</button>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <button class="btn btn-primary btn-md m-4">Income History</button>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <button class="btn btn-primary btn-md m-4">Withdraw History</button>
                        </div>
                    </div>
                    
                    <table class="table table-striped" style="background-color: white;">
                        <thead>
                            <th>S.No.</th>
                            <th>Date</th>
                            <th>Withdraw Amount</th>
                            <th>GST</th>
                            <th>Platform Change</th>
                        </thead>
                        <tbody>
                            <!-- Table Data Fill Here -->
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Owner Wallet -->

            <!--History-->
            <div class="col col-lg-8 col-md-8 col-sm-12 d-none" style="background-color: whitesmoke;"><br>
                <h4 class="text-center fw-bold" style="background-color: white;">Wallet</h4>
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 m-5">
                            <h5>Vehicle Registration Number or Driver Name</h5>
                            <input type="text" placeholder="Vehicle Registration Number or Driver Name" style="width: 130%;">
                        </div>
                    </div>
                    
                    <table class="table table-striped" style="background-color: white;">
                        <thead>
                            <th>S.No.</th>
                            <th>Date</th>
                            <th>Driver Name</th>
                            <th>Passenger Name</th>
                            <th>Passenger Contact</th>
                            <th>Charges</th>
                        </thead>
                        <tbody>
                            <!-- Table Data Fill Here -->
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- History -->










        </div>
    </div>

    <%- include('footer') %>

    
</body>
</html>