<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>BTC : Safety</title>
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <style>
    #overview {
      margin-top: 100px;
      background-color: #EDF3FD;
    }

    p {
      font-family: sans-serif;
      font-weight: 550;
      width: 400px;
    }

    h1 {
      font-family: sans-serif;
    }
  </style>
</head>
<body>

  <%- include('navbar') %>

    <div class="container-fluid " id="overview">
      <span class="mx-4 fs-5">Overview </span>
      <span class="mx-4 fs-5">Customer</span>
      <span class="mx-4 fs-5">Captain </span>
    </div>
    <div class="container my-5">
      <div class="row ">
        <div class="col-lg-6 col-md-12 col-sm-12 ">
          <h1>Safety is Our Responsibility</h1>
          <p class="my-5 mx-4">The first priority, of course, is making the process safe. “Expanding on our ’ we are
            also
            a member of the Clorox Safer Today Alliance in collaboration with Cleveland Clinic and the CDC Foundation,”
            notes Lisa Martini, communications director at Enterprise Holdings, owner of and As part of the program,
            customers will find an individually packaged Clorox wipe in every rental vehicle, with tips for how to
            disinfect surfaces for extra peace of mind.
          </p>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 ">
          <img src="images/img1.jpg" height="auto" width="440vw" alt="">
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 ">
          <h1>Captain Safety</h1>
          <img src="images/img2.jpg" height="auto" width="440vw" alt="">
          <p class="my-5 mx-3 ">The first priority, of course, is making the process safe. “Expanding on our ’ we are
            also
            a member of the Clorox Safer Today Alliance in collaboration with Cleveland Clinic and the CDC Foundation,”
            notes Lisa Martini, communications director at Enterprise Holdings, owner of and As part of the program,
            customers will find an individually packaged Clorox wipe in every rental vehicle, with tips for how to
            disinfect surfaces for extra peace of mind.</p>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 ">
          <h1>Customer Safety</h1>
          <img src="images/img3.jpg" height="auto" width="440vw" alt="">
          <p class="my-5 mx-3 ">The first priority, of course, is making the process safe. “Expanding on our ’ we are
            also
            a member of the Clorox Safer Today Alliance in collaboration with Cleveland Clinic and the CDC Foundation,”
            notes Lisa Martini, communications director at Enterprise Holdings, owner of and As part of the program,
            customers will find an individually packaged Clorox wipe in every rental vehicle, with tips for how to
            disinfect surfaces for extra peace of mind.</p>
        </div>
      </div>
    </div>

    <%- include('footer') %>
    
</body>

</html>