<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTC : Services</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <style>
        #secondNav ul li a {
        font-size: 1.2rem;
        }

        #secondNav ul li {
            margin-left: 1vw;
        }

        #secondNav {
            background-color: lightskyblue;
        }

        #BTC {
            font-size: 2.5rem;
        }

        #maindiv{
            background-color: white ;
        }

        h2{
            color: #211ED0;
        }

        #div1{
            margin: 30px; 
            margin-left: 60px;
            margin-top: 60px;
            height:50vh;
            width: 70vh;
            /* background-color: #f8f9fa;  */
        }
        #div2{
         /* background-color: #f8f9fa;  */
         height:60vh;
         width: 110vh;
         margin: 30px;
         padding: 20px;
        }
    </style>
</head>
<body>

    <%- include('navbar') %>

    <!-- main div -->
    <div class="container-fluid" id="maindiv">
        <div class="row">
            <div class="col col-lg-6 col-md-12 col-sm-12" id="div1">
                <img style="height:50vh; width: 70vh;" src="images/ser1.png" alt="">
            </div>

            <div class="col col-lg-6 col-md-12 col-sm-12" id="div2">
                <h2>This Is A Heading</h2><br>
                <p class="mb-3">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, sit sed eius ipsum quaerat ex aliquid fugiat nulla quae! Ea amet voluptate nostrum delectus inventore sunt hic dicta recusandae molestias
                </p>
                <p class="mb-3">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, sit sed eius ipsum quaerat ex aliquid fugiat nulla quae! Ea amet voluptate nostrum delectus inventore sunt hic dicta recusandae molestias
                </p>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, sit sed eius ipsum quaerat ex aliquid fugiat nulla quae! Ea amet voluptate nostrum delectus inventore sunt hic dicta recusandae molestias
                </p>
            </div>
        </div>
        <br><br>

        <div class="row">
            <div class="col col-lg-6 col-md-12 col-sm-12" id="div2">
                <h2>This Is A Heading</h2><br>
                <p class="mb-3">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, sit sed eius ipsum quaerat ex aliquid fugiat nulla quae! Ea amet voluptate nostrum delectus inventore sunt hic dicta recusandae molestias
                </p>
                <p class="mb-3">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, sit sed eius ipsum quaerat ex aliquid fugiat nulla quae! Ea amet voluptate nostrum delectus inventore sunt hic dicta recusandae molestias
                </p>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, sit sed eius ipsum quaerat ex aliquid fugiat nulla quae! Ea amet voluptate nostrum delectus inventore sunt hic dicta recusandae molestias
                </p>
            </div>

            <div class="col col-lg-6 col-md-12 col-sm-12" id="div1">
                <img style="height:50vh; width: 70vh;" src="/images/ser2.jpg" alt="">
            </div>
        </div>
        <br><br>

        <div class="row">
            <div class="col col-lg-6 col-md-12 col-sm-12" id="div1">
                <img style="height:50vh; width: 70vh;" src="/images/img3.jpg" alt="">
            </div>

            <div class="col col-lg-6 col-md-12 col-sm-12" id="div2">
                <h2>This Is A Heading</h2><br>
                <p class="mb-3">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, sit sed eius ipsum quaerat ex aliquid fugiat nulla quae! Ea amet voluptate nostrum delectus inventore sunt hic dicta recusandae molestias
                </p>
                <p class="mb-3">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, sit sed eius ipsum quaerat ex aliquid fugiat nulla quae! Ea amet voluptate nostrum delectus inventore sunt hic dicta recusandae molestias
                </p>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, sit sed eius ipsum quaerat ex aliquid fugiat nulla quae! Ea amet voluptate nostrum delectus inventore sunt hic dicta recusandae molestias
                </p>
            </div>
        </div>
    </div>



    <%- include('footer') %>

</body>
</html>